{#
/**
 * @file licencia.html.twig
 * Default theme implementation to present Licencia data.
 *
 * This template is used when viewing Licencia pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_licencia()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('licencia') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
