//Variables de colores
$primary-color: #8dc63f;
$secundary-color: #A0CF5E;
$tertiary-color: #009aa3;
$quaternary-color: #49c2c9;
$quinary-color: #8CC63E;
$senary-color: #902d05;
$primary-typography: 'OpenSans-Regular';
$secundary-typography: 'BandaRegular';
$tertiary-typography: 'OpenSans-SemiBold';
$quaternary-typography: 'OpenSans-Bold';
